@model IEnumerable<Partners.Web.Data.Entities.Policy>
@{ 
    var partnerId = (int)ViewBag.PartnerId;
}
<h2>Policy List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Policy Number</th>
            <th>Policy Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var policy in Model)
        {
            <tr>
                <td>@policy.PolicyNumber</td>
                <td>@policy.PolicyAmount</td>
                <td>
                    <a href="@Url.Action("Details", new { id = policy.Id })" class="btn btn-primary">Details</a> |
                    <a href="@Url.Action("Edit", new { id = policy.Id })" class="btn btn-warning">Edit</a> |
                    <a href="@Url.Action("Delete", new { id = policy.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", new {id=partnerId})" class="btn btn-primary">Add New Policy</a>